<!-- Product Detail -->
<div class="product-title">
  <h3 id="productName"></h3>
  <h2 class="divider" id="productNameWithoutBrand"></h2>
</div>

<div class="product-preview">
  <picture>
    <source id="productImageXL" media="" srcset="" />
    <img id="productImage" class="divider" src="" alt="" />
  </picture>
  <!-- <img id="productImage" class="divider" src="" alt="" /> -->
</div>

<div class="product-description">
  <p class="product-card__retail_price" id="productRetailPrice"></p>
  <p class="product-card__discount" id="productDiscountAmount"></p>
  <p class="product-card__price" id="productFinalPrice"></p>
  <p class="product__color" id="productColorName"></p>
  <p class="product__description" id="productDescriptionHtmlSimple"></p>
  <div class="product-detail__add">
    <button id="addToCart" data-id="">Add to Cart</button>
  </div>
</div>
